[submodule "microservices/ordering"]
	path = microservices/ordering
	url = https://github.com/mglmendes/ems-algashop-ordering.git
	branch = main
[submodule "ems-algashop-docs"]
	path = ems-algashop-docs
	url = https://github.com/mglmendes/ems-algashop-docs.git
	branch = main
[submodule "microservices/billing"]
	path = microservices/billing
	url = https://github.com/mglmendes/ems-algashop-billing.git
	branch = main
[submodule "microservices/product-catalog"]
	path = microservices/product-catalog
	url = https://github.com/mglmendes/ems-algashop-product-catalog.git
	branch = main
[submodule "template"]
	path = template
	url = https://github.com/mglmendes/ems-algashop-template.git
	branch = main
