[submodule "microservices/ordering"]
	path = microservices/ordering
	url = https://github.com/MGLMendes/ems-algashop-ordering.git
[submodule "ems-algashop-docs"]
	path = ems-algashop-docs
	url = https://github.com/MGLMendes/ems-algashop-docs.git
[submodule "ems-algashop"]
	branch = main
