[submodule "microservices/ordering"]
	path = microservices/ordering
	url = https://github.com/MGLMendes/ems-algashop-ordering.git
	branch = main
[submodule "ems-algashop-docs"]
	path = ems-algashop-docs
	url = https://github.com/MGLMendes/ems-algashop-docs.git
	branch = main
[submodule "microsservices/billing"]
	path = microsservices/billing
	url = https://github.com/MGLMendes/ems-algashop-billing.git
[submodule "microservices/billing"]
	path = microservices/billing
	url = https://github.com/MGLMendes/ems-algashop-billing.git
